@media (max-width: 1024px) {

    .hidden-menu {
        display: block;
    }
  
    .nav {
        display: none;
    }

}

@media (max-width: 970px) {

    .skills img {
        width: 550px;
    }

}

@media (max-width: 925px) {

    .promo h2 {
        font-size: 45px;
        left: 90px;
    }

    .promo h3 {
        font-size: 22px;
        left: 90px;
        top: 265px;
    }

    .container__location {
        margin-bottom: 20px;
    }

}

@media (max-width: 785px) {

    .wrapper__portfolio {
        grid-gap: 0px 20px;
    }

    .header {
        margin-bottom: 20px;
    }

    .slider {
        overflow: hidden;
        margin-bottom: 15px;
    }

    .header .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .about__me {
        width: 100%;
        margin-right: 0px;
        margin-bottom: 25px;
    }

    .container {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .container__educ {
        justify-content: end;
    }

    .container__work {
        justify-content: center;
    }

    .work {
        text-align: center;
    }

    .work h5 {
        width: 70%;
        margin: 0 auto;
        margin-bottom: 25px;
    }

    .work h4 {
        margin-bottom: 10px;
    }

    .education {
        margin-bottom: 0px;
        margin-top: 0px;
        background: #ffffffe0;
        padding: 50px;
        width: 100%;
    }

    .container__contacts {
        flex-direction: column;
        align-items: center;
        margin-top: 0px;
    }

    .contacts {
        margin-bottom: 0px;
    }

    .contacts h2 {
        font-size: 24px;
        text-align: center;
        padding-top: 0px;
        border: none;
    }

    .footer {
        margin-top: 30px;
    }
}

@media (max-width: 670px) {

    .skills img {
        width: 300px;
    }

    summary::before {
        right: 0px;
    }

    .wrapper__portfolio {
        display: block;
    }

    .project__two {
        display: none;
    }

    .project__two-media {
        display: block;
        border-top: 1px solid;
        padding: 20px 0px;
        margin-top: 70px;
    }

    .container__img {
        margin-top: 20px;
    }

    .info__portfolio {
        text-align: center;
        border-bottom: none;
        border-top: 1px solid;
        padding: 20px 0px;
        margin-top: 70px;
    }

    .container__portfolio {
        border-bottom: none;
        margin-bottom: -70px;
    }

}

@media (max-width: 585px) {

    .education {
        padding: 20px;
    }

    .promo h2 {
        font-size: 30px;
        position: relative;
        top: 0;
        left: 0;
        text-align: center;
        padding-bottom: 0px;
        margin: 0 auto;
    }

    .promo h3 {
        font-size: 20px;
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
    }

    .btn {
        top: calc(60% - 25px);
    }

}

@media (max-width: 515px) {

    :root {
        --icon-width: 20px;
        --icon-hieght: 20px;
        --icon-bg-size: 20px 20px;
    }

    .skills img {
        width: 300px;
    }

    summary::before {
        right: 0px;
    }

    h2 {
        font-size: 16px;
    }

    .btn {
        width: 35px;
        height: 35px;
        top: calc(65% - 25px);
    }

    .arrow-left {
        left: 2px;
        background-size: 30px 30px;
        top: 2px;
    }

    .arrow-right {
        background-size: 30px 30px;
        top: 3px;
    }

}

@media (max-width: 425px) {

    .hidden-menu .line {
        width: 70%;
        height: 3px;
    }

    .hidden-menu {
        top: 15px;
        left: 11px;
    }

    .hidden-menu input:checked ~ span:nth-last-child(2) {
        transform: translateY(-7px) translateX(0) rotate(-45deg);
    }

    .nav-toggle {
        margin-top: 38%;
    }

    .skills h2 {
        padding: 15px 0px;
    }

    .skills p {
        font-size: 14px;
    }

    summary::before {
        width: 22px;
        height: 22px;
        background-size: 22px 22px;
        top: 7px;
    }

    details[open] > summary::before {
        background-image: url(../icon/minus.png);
        width: 22px;
        height: 22px;
        background-size: 22px 22px;
    }

    summary {
        font-size: 16px;
    }

    details {
        padding: 10px 15px 0px 15px;
    }

    .container__portfolio {
        padding: 15px 0px;
    }

    .info__portfolio h3 {
        font-size: 18px;
    }

    .info__portfolio p {
        font-size: 14px;
    }

    .info__portfolio a {
        font-size: 14px;
    }

    .footer p {
        font-size: 10px;
    }

    .footer a {
        font-size: 10px;
    }

}

@media (max-width: 375px) {

    .skills img {
        width: 250px;
    }

    .promo h2 {
        left: -10px;
    }

}